@charset "utf-8";
#uploader-demo {
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-align: left;
}
#uploader-demo .webuploader-container {
    position: relative;
    display: inline-block;
    width: 111px;
    height: 111px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#uploader-demo .webuploader-element-invisible {
    position: absolute !important;
    width: 111px;
    height: 111px;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
#uploader-demo .webuploader-pick {
    display: inline-block;
    width: 111px;
    height: 111px;
    line-height: 111px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #aaa;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
#uploader-demo .webuploader-pick-hover {
}

#uploader-demo .webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
#uploader-demo .uploader-list,
#uploader-demo .uploader-list .file-item{
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0;
    text-align: left;
    padding: 0;
    vertical-align: top;
}
#uploader-demo .uploader-list .file-item{
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
}
#uploader-demo .uploader-list .file-item .info,
#uploader-demo .uploader-list .file-item .error{
    display: none;
}
#uploader-demo .uploader-list .file-item .upload_delete{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #555;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
#uploader-demo .uploader-list .file-item img{
    width: 111px;
    display: inline-block;
}